<h1>追加画面です</h1>
<div class="container">
    <% if(error.message) { %>
        <div class="row">
            <div class="alert alert-danger">
                <%= error.message %>
            </div>
        </div>
        <% } %>
            <div class="row">
                <form action="./add" method="POST" enctype="multipart/form-data">
                    <dl>
                        <dt>商品画像</dt>
                        <dd class="input-group">
                            <input type="file" name="photo"  class="form-control <%= error.image ? 'is-invalid' : ''%>"/>
                            <%- error.image ? `<div class="invalid-feedback">${error.image}</div>` : `` %>
                        </dd>
                        <dt>商品名</dt>
                        <dd class="input-group">
                            <input type="text" value="<%=data.name%>" name="name" class="form-control <%= error.name ? 'is-invalid' : ''%>">
                            <%- error.name ? `<div class="invalid-feedback">${error.name}</div>` : `` %>
                        </dd>
                        <dt>情報</dt>
                        <dd class="input-group">
                            <input type="text" value="<%=data.info%>" name="info" class="form-control <%= error.info ? 'is-invalid': '' %>">
                            <%- error.info ? `<div class="invalid-feedback">${error.info}</div>` : `` %>
                        </dd>
                        <dt>サイズ</dt>
                        <dd><input type="text" value="<%=data.size%>" name="size" class="form-control <%= error.size ? 'is-invalid': '' %>">
                            <%- error.size ? `<div class="invalid-feedback">${error.size}</div>` : `` %>
                        </dd>
                        <dt>カラー</dt>
                        <dd><input type="text" value="<%=data.color%>" name="color" class="form-control <%= error.color ? 'is-invalid': '' %>">
                            <%- error.color ? `<div class="invalid-feedback">${error.color}</div>` : `` %>
                        </dd>
                        <dt>価格</dt>
                        <dd><input type="text" value="<%=data.price%>" name="price" class="form-control <%= error.price ? 'is-invalid': '' %>">
                            <%- error.price ? `<div class="invalid-feedback">${error.price}</div>` : `` %>
                        </dd>
                    </dl>
                    <input type="submit" value="保存" class="btn btn-primary">
                </form>
            </div>
</div>