<h1>編集画面です</h1>
<div class="container">
    <% if(error.message) { %>
        <div class="row">
            <div class="alert alert-danger">
                <%= error.message %>
            </div>
        </div>
        <% } %>
            <div class="row">
                <form action="./<%=row.id%>/update" method="POST" enctype="multipart/form-data">
                    <input type="file" name="photo" />
                    <dl>
                        <dt>商品名</dt>
                        <dd class="input-group">

                            <input type="text" value="<%=row.name%>" name="name" class="form-control <%= error.name ? 'is-invalid' : ''%>">
                            <%- error.name ? `<div class="invalid-feedback">${error.name}</div>` : `` %>
                        </dd>
                        <dt>情報</dt>
                        <dd class="input-group">
                            <input type="text" value="<%=row.info%>" name="info" class="form-control <%= error.info ? 'is-invalid': '' %>">
                            <%- error.info ? `<div class="invalid-feedback">${error.info}</div>` : `` %>
                        </dd>
                        <dt>オプション</dt>
                        <dd class="container">
                            <%for(option of product.options){%>
                                <div class="row">
                                    <div class="col">
                                        <label>サイズ</label>
                                        <input type="text" value="<%=option.size%>" name="size" class="form-control <%= error.size ? 'is-invalid': '' %>">
                                        <%- error.size ? `<div class="invalid-feedback">${error.size}</div>` : `` %>
                                    </div>
                                    <div class="col">
                                        <label>カラー</label><input type="text" value="<%=option.color%>" name="color" class="form-control <%= error.color ? 'is-invalid': '' %>">
                                        <%- error.color ? `<div class="invalid-feedback">${error.color}</div>` : `` %>
                                    </div>
                                    <div class="col">
                                        <label>在庫</label><input type="text" value="<%=option.count%>" name="count" class="form-control <%= error.count ? 'is-invalid': '' %>">
                                        <%- error.count ? `<div class="invalid-feedback">${error.count}</div>` : `` %>
                                    </div>
                                </div>
                                <%}%>
                        </dd>
                        <dt>価格</dt>
                        <dd><input type="text" value="<%=row.price%>" name="price" class="form-control <%= error.price ? 'is-invalid': '' %>">
                            <%- error.price ? `<div class="invalid-feedback">${error.price}</div>` : `` %>
                        </dd>
                    </dl>
                    <input type="submit" value="保存" class="btn btn-primary">
                </form>
            </div>
</div>