<h1>LISTです</h1>
<div class="container">
    <div class="row">
        <a class="btn btn-primary" href="./add">新規登録</a>
        <a class="btn btn-success" href="./history">購入者履歴へ</a>
    </div>
    <div class="row">
        <table>
            <% for(row of rows){ %>
                <tr>
                    <td>
                        <a href="./<%= row.id %>"><img src="/photo/product/<%= row.image %>" alt="写真" width="100"></a>
                    </td>
                    <td>
                        <a href="./<%= row.id %>">
                            <%= row.name %>
                        </a>
                    </td>
                    <td>
                        <%=row.price%>
                    </td>
                    <td>
                        <%=row.count%>
                    </td>
                </tr>
                <% } %>
        </table>
    </div>
</div>